.scene {
  aspect-ratio: 3 / 2;
  width: 40%;
  margin: 10rem auto;
  position: relative;
  perspective: 50rem;
  perspective-origin: center -6rem;
  transform: rotate(10deg);

  .projectsCarousel {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
  }

  .projectCell {
    position: absolute;
    right: 2.5%;
    top: 2.5%;
    width: 95%;
    height: 95%;
    border-radius: 5%;

    a {
      display: block;
      height: 100%;
      width: 100%;
      border-radius: 1rem;
    }

    img {
      border-radius: 1rem;
    }
  }
}
