#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  width: 100%;
  background-color: $background-color;
  overflow: auto;

  img {
    max-width: 100%;
  }
}

.aboutContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;

  p {
    max-width: 75%;
    text-align: center;
  }
}

#projects {
  width: 100%;
}

#contactLink {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: $strong-color;
  background: $navbar;
  padding: 1.5rem;
}
