#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  width: 100%;
  background-color: $background-color;
  overflow: auto;

  img {
    max-width: 100%;
  }

  h2 {
    margin-top: 3rem;
  }
}

.aboutContainer {
  align-items: center;
  width: 80%;

  p {
    max-width: 75%;
    overflow: hidden;

    @media (max-width: 600px) {
      text-align: center;
      margin: 0 auto;
    }
  }
}

#projects {
  width: 100%;
}

#contactLink {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: $strong-color;
  background: $navbar;
  padding: 1.5rem;
  margin: 3rem;
}
