$strong-color: #dc4405;
$background-color: #f0f0f0;

#home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: $background-color;
}

.headingContainer {
  width: 75%;
  text-align: center;

  h1 {
    font-size: 4rem;

    @media (max-width: 675px) {
      font-size: 2rem;
    }
  }

  strong {
    font-weight: bold;
    color: $strong-color;
  }
}

.scrollContainer {
  position: absolute;
  text-align: center;
  bottom: 10%;
  right: 50%;
  transform: translatex(50%);
  opacity: 0;

  svg {
    width: 4rem;
    height: auto;
  }
}
