#contact {
  width: 100%;
  min-height: 100%;
  padding-bottom: 5rem;

  @media (max-width: 675px) {
    padding-bottom: 4rem;
  }

  #footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    right: 0;
    background-color: $navbar;

    .socialLink {
      position: relative;
      display: inline-block;
      width: 4rem;
      height: 4rem;
      margin: .5rem;

      @media (max-width: 675px) {
        width: 3rem;
        height: 3rem;
        margin: .5rem;
      }
    }
  
    img {
      max-width: 100%;
    }
  }
}
