#headingContainer {
  position: relative;
  top: 0;
  right: 0;
  display: flex;
  background-color: $navbar;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 9;

  div {
    font-family: 'Roboto Mono', monospace;
    background-color: $background-color;
    color: $strong-color;
    border-radius: 0.5rem;
  }

  li {
    display: inline-block;
  }

  @media (max-width: 675px) {
    font-size: 1.4rem;
  }

  @media (max-width: 334px) {
    font-size: 1.2rem;
  }
}

.navbarLinks {
  display: inline-block;
  text-decoration: none;
  color: $light-text;
  padding: 1.5rem;

  @media (max-width: 675px) {
    padding: 0.8rem;
  }
}
